[submodule "26-code-structuring-for-bigger-projects/src/three.js-gist"]
	path = 26-code-structuring-for-bigger-projects/src/three.js-gist
	url = https://github.com/momentchan/three.js-gist.git
[submodule "05-transform-objects/src/three.js-gist"]
	path = 05-transform-objects/src/three.js-gist
	url = https://github.com/momentchan/three.js-gist.git
[submodule "05-transform-objects/src/three.js-template"]
	path = 05-transform-objects/src/three.js-template
	url = https://github.com/momentchan/three.js-template.git
